<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  method="post">
        {% csrf_token %}
        <label for="type">Type</label>
        <input type="text" id="type" name="type" value="{{type}}">
    <br>
        <label for="vname">vname</label>
        <input type="text" id="vname" name="vname" value="{{vname}}">
    <br>
        <label for="cname">cname</label>
        <input type="text" id="cname" name="cname" value="{{cname}}">
    <br>
        <label for="year">year</label>
        <input type="number" id="year" name="year" value="{{year}}">
    <br>
        <label for="price">price</label>
        <input type="number" id="price" name="price" value="{{price}}">
    <br>
        <input type="submit" value="Update">
    
    </form>
</body>
</html>