<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form </title>
</head>
<body>
    <form action="{% url 'app' %}">
        <label for="uname">User Name</label>
        <input type="text" id="uname" name="uname">
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email">

        <label for="ph" >Phone</label>
        <input type="tel" id="ph" name="ph">

        <input type="submit" value="Resister">
    </form>
</body>
</html>