<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        img{
            box-shadow: 2px 6px 10px grey;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <marquee style=color:brown> <h1>Hello World </h1></marquee>
    <img src="https://cdn.pixabay.com/photo/2016/08/24/14/29/earth-1617121__340.jpg" alt="" height="500px" width="100%">
</body>
</html>